# ignore database sqlite
db.sqlite3

# ignore all .pyc files
*.pyc

# ignore .txt files
*.txt

# ignore tests files
decorators.py
test_utils.py
tests_*.py


#ignore .vs 
.vs

#ignore __pycache__
__pycache__